#joystick{

	/*--------------This is what activates GPU graphic rendering------------------*/
	-webkit-transform: translateZ(0); 
	-moz-transform: translateZ(0); 
	-ms-transform: translateZ(0); 
	-o-transform: translateZ(0); 
	transform: translateZ(0); 
	
	-moz-transition: all 1s; 
	-webkit-transition: all 1s; 
	-o-transition: all 1s; 
	transition: all 1s ;  
    /*--------------This is what activates GPU graphic rendering End------------------*/
}

#game-wrap{

	display: none;
}

#canvas {
    border:1px solid #000;
	border-radius: 5px;
	margin: 0 auto;
	display: block;
	margin-top: 2%;
}

#load-text{

	text-align: center;
}

#wasm-error{

	display: none;
	color: red;
	text-align: center;
}

#rotation-message{

	text-align: center;
	display: none;
	margin-top: auto;
}

#image-rotate{

	position: absolute;
    bottom: 46%;
	left: 24%;
}

.menu-image{

	position: absolute;
}

#pause-message{

	color: white;
	width: 60%;
    z-index: 2;
    position: absolute;
    top: 30%;
	left: 29%;
	display: none;
	text-align: center;
}

#title-area{

	position: absolute;
    top: 33%;
    left: 2%;
    text-align: center;
    background-color: #3949ab;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 7px;
	color: white;
	display: none;
	width: 55%;
}

#play{

	width: 55%;
    height: 3.5em;
    position: absolute;
	top: 50%;
	left: 22%;
	border-radius: 25px;
	
	text-decoration: none;
    color: #fff;
    background-color: #3949ab;
    text-align: center;
	letter-spacing: .2em;
	font-size: 1em;
	outline: 0;
	border: none;
    display: inline-block;
	text-transform: uppercase;
	display: none;
}

#gameOptions{
	
	position: absolute;
    left: 0.7%;
    width: 13%;
    height: 2em;
    top: 1%;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    background-color: #3949ab;
    text-align: center;
    letter-spacing: .2em;
    font-size: 1em;
    outline: 0;
    border: none;
    display: inline-block;
	text-transform: uppercase;
	display: none;
}

#options-backdrop{

    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
	left: 0;
	animation-name: option-opacity-ani;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	display: none;
}

@keyframes option-opacity-ani {
    from { opacity: 0; }
    to { opacity: 0.7; }
}

#option-selections{

	position: absolute;
    top: 33%;
	width: 98%;
	opacity: 0;
	animation-name: option-select-ani;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	animation-delay: 0.3s;
	display: none;
	z-index: 1;
}

@keyframes option-select-ani {
    from { opacity: 0; }
    to { opacity: 1; }
}

.options{

	width: 100%;
	height: 3.5em;
	border-radius: 50px;
    text-decoration: none;
    color: #fff;
    background-color: #3949ab;
    text-align: center;
    letter-spacing: .2em;
    font-size: 1em;
    outline: 0;
	margin-bottom: 1%;
	border-color: white;
}

#close-opts{

	width: 14%;
    position: absolute;
    top: -93%;
    right: 1%;
}

#dataChannelWrap{

	display: none;
	width: 100%;
}

#openChat{

    width: 40%;
    height: 3.5em;
    position: absolute;
    top: 2%;
    right: 3.3%;
	border-radius: 25px;
	
	text-decoration: none;
    color: #fff;
    background-color: #3949ab;
    text-align: center;
	letter-spacing: .2em;
	font-size: 1em;
	outline: 0;
	border: none;
    display: inline-block;
	text-transform: uppercase;
	display: none;
}

#closeChat{

    width: 40%;
    height: 3.5em;
	position: relative;
	left: 56%;
	margin-top: 3%;
	margin-bottom: 5%;
	border-radius: 25px;
	
	text-decoration: none;
    color: #fff;
    background-color: #3949ab;
    text-align: center;
	letter-spacing: .2em;
	font-size: 1em;
	outline: 0;
	border: none;
    display: inline-block;
	text-transform: uppercase;
	display: none;
	
}
