#joystick{

	/*--------------This is what activates GPU graphic rendering------------------*/
	-webkit-transform: translateZ(0); 
	-moz-transform: translateZ(0); 
	-ms-transform: translateZ(0); 
	-o-transform: translateZ(0); 
	transform: translateZ(0); 
	
	-moz-transition: all 1s; 
	-webkit-transition: all 1s; 
	-o-transition: all 1s; 
	transition: all 1s ;  
    /*--------------This is what activates GPU graphic rendering End------------------*/
    display: none;
}

#canvas {
    border:1px solid #000;
	border-radius: 5px;
	margin-left: 13%;
	/* margin-top: -0.6%; */
}

#rotation-message{

    text-align: center;
}